@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.contain {
  position: relative;
  width: 100%;
  height: 80%;
  padding: 2rem;
  background-image: url(int_img/7th.jpg);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 1000px;
  background :#333;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
label {
    position: absolute;
    top: 30%;
    left: 15px;
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    transition: 0.5s;
  }

.contact-form {
  background :linear-gradient(rgba(0,0,0,0.4), rgb(3, 28, 28));
  position: relative;
}
form {
  padding: 2.2rem 2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 2rem 0;
}
.input-container-raw {
  position: relative;
  margin: 3rem 0;
}
input{
    width:100%;
    padding: 10px;
    padding-left: 15px;
    outline: 0;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}
textarea{
    width:100%;
    padding: 50px;
    padding-left: 35px;
    outline: 0;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 12px;
}
.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  background-color: orange;
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 100%;

}
input:focus~label,
input:valid~label
{
        top: -20px;
       font-size: 14px;
       
}
textarea:focus~label,
textarea:valid~label
{
        top: -20px;
       font-size: 15px;
       text-align: center;
       
}

.btn:hover {
  background-color: white;
  color: #000;
}


.contact-info {
  padding: 1.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: orange;
}

.text {
  color: #fff;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #fff;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: orange;
  color: #000;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}


.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}



